@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  /* font-size: 100px; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 0.5rem;
  height: 10vh;
}

.headertext {
  margin: 0.75rem;
}

.menu-icon {
  height: 1.5rem;
  margin: 0.75rem;
}

.acc-icon {
  height: 2rem;
  margin: 0.55rem;
}

.google-logo {
  display: block;
  margin: auto;
  width: 20rem;
}

.body-container {
  height: 78vh;
}

.searchbar {
  width: 40rem;
  border-style: solid;
  margin: auto;
  height: 3rem;
  border-color: #d4d3d3;
  border-radius: 20px;
  border-width: 1.2px;

  display: flex;
  justify-content: space-between;
}

.simg1,
.simg2 {
  margin: 0.85rem;
  height: 1.45rem;
}

.inputbar {
  width: 35rem;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search {
  margin: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #3a3939;
}

.search:hover {
  border-style: solid;
  border-color: #6b6b6b;
  border-width: 1px;
  border-radius: 5px;
}

.bottom-text {
  display: flex;
  justify-content: center;
}

.footer {
  min-height: 12vh;
  background-color: #F2F2F2;
}

.footer-text {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  color: #70757A;
}

.section-2 {
  display: flex;
  justify-content: space-between;
}

.left-side, .right-side {
  display: flex;

}
